html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}
h1, h2, h3 {
    clear: both;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}

a img {
    border: none;
    position: relative;
}

header, .main, .colophon, nav.main, .fatfooter {
    margin: 0 auto;
    width: 96%;
    max-width: 1000px;
    padding: 0;
}

body, footer, .header-wrapper, .banner-wrapper {
    width: 100%;
    margin: 0;
}
.header-wrapper {
    padding: 10px 0;
}
footer {
    padding: 0;
    overflow: auto;
    margin-top: 20px;
}
body {
    padding-bottom: 20px;
}




.quarter,
.one-third,
.two-thirds,
.half {
    float: left;
}

.one-third {
    width: 32%;
}
.two-thirds {
    width: 65.5%;
}
.quarter {
    width: 23.5%;
}
.three-quarters {
    width: 74.5%;
}
.half {
    width: 48%;
}


header,
div.main,
aside {
    overflow: auto;
    border: #1f66ff
}
.main-nav {
    width: 100%;
    clear: both;
}
div.main, footer {
    clear: both;
}

h1#site-title {
    margin-bottom: 0.2em;
}
h2#site-description {
    margin: 0 0 1em 0;
    font-size: 1.28em;
}
.header.widget-area {
    padding-top: 1em;
}


footer .fatfooter {
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    font-size: 14px;
    line-height: 1.4em;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1, h2, h3, .site-name {
    font-family: Georgia, "Times New Roman", serif;
}
h1, #site-title {
    font-size: 1.57em;
}
h2 {
    font-size: 1.28em;
}
h3 {
    font-size: 1.14em;

}
h1, h2, h3 {
    line-height: 1.2em;
}


p {
    margin-bottom: 1em;
}
ul, ol, ul ul, ol ol, ul ul ul, ol ol ol {
    list-style-position: outside;
    padding-left: 1.4em;
    margin: 0 0 1.4em 0;
}
ol,ol ol, ol ol ol {
    padding-left: 1.7em;
}

ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
ol ol {
    list-style: upper-alpha;
}
ol ol ol {
    list-style: lower-roman;
}
ol ol ol ol {
    list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
    margin-bottom: 0;
}



.menu.main {
    overflow: auto;
    margin-bottom: 10px;
}
.menu.main ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.menu.main li {
    float: left;
    position: relative;
}
.menu.main a {
    display: block;
    line-height: 3em;
    padding: 0 20px 0 0;
    text-decoration: none;
}
.menu.main ul ul {
    display: none;
    position: absolute;
    top: 3em;
    left: 0;
    float: left;
    width: 180px;
    z-index: 99999;
    background: #fff;
}
.menu.main ul ul li {
    min-width: 180px;
}
.menu.main ul ul ul {
    left: 100%;
    top: 0;
}
.menu.main ul ul a {
    line-height: 1em;
    padding: 10px;
    width: 160px;
    height: auto;
}
.menu.main ul li:hover > ul {
    display: block;
}
img {
    max-width: 50%;
}
#content img {
    margin: 0;
    height: auto;
    width: auto;
}
#content img.alignright {
	float: right;
	margin: 4px 0 4px 4%;
}
body {
    color: #333;
}
h1, #site-title a {
    color: #000;
}
h2 {
    color: #666;
}
h3, h4 {
    color: #999;
}
a:link, a:visited {
    color: #008ab7;
    text-decoration: underline;
}
a:hover, a:active {
    color: #9e4059;
    text-decoration: underline;
}
.entry-title a:link,
.entry-title a:visited,
#site-title a:link,
#site-title a:visited {
    text-decoration: none;
}
.entry-title a:hover,
.entry-title a:active,
#site-title a:hover,
#site-title a:active  {
    text-decoration: underline;
}
.menu.main,
.fatfooter {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
footer {
    background: #000;
    color: #fff;
}
footer a:link,
footer a:visited {
    color: #666;
}
footer a:hover,
footer a:active {
    color: #fff;
}
